services:
  product_service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    container_name: product_service
    ports:
      - "8001:8001"
    networks:
      - microservices_network
    restart: unless-stopped

  inventory_service:
    build:
      context: ./inventory-service
      dockerfile: Dockerfile
    container_name: inventory_service
    ports:
      - "8002:8002"
    networks:
      - microservices_network
    restart: unless-stopped

  api_gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api_gateway
    environment:
      PRODUCT_SERVICE_URL: http://stockwiz-product-service:8001
      INVENTORY_SERVICE_URL: http://stockwiz-inventory-service:8002
    ports:
      - "8000:8000"
    networks:
      - microservices_network
    restart: unless-stopped
    
    depends_on:
      - product_service
      - inventory_service

networks:
  microservices_network:
    driver: bridge
